$white:             #ffffff;
$black:             #000000;
$amber:             #FFCA42;
$floralwhite:       #F6F8FC;
$navyblue:          #1B3764;
$verylightblue:     #B4C7E7;

$z-index-header: 1000;

$display1600-bp: 1600px;

$notebook-bp: 1440px;
$notebook_m-bp: 1300px;
$notebook_l-bp: 1200px;
$notebook_sl-bp: 1100px;
$tablet_s-bp: 800px;
$tablet-bp: 768px;
$tablet_mini-bp: 620px;
$mobile-bp: 425px;