<footer class="footer">
    <div class="footer__inner">
        <div class="footer__lo">
            <div class="footer__logo">
                <img src="assets/images/vector.svg" alt="">
                <h1 class="footer__title">Pages</h1>
            </div>
            <ul class="footer__social">
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img src="assets/images/footer/facebook.svg" alt="">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img src="assets/images/footer/twitter.svg" alt="">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img src="assets/images/footer/linked.svg" alt="">
                    </a>
                </li>
                <li class="footer__social-item  footer__social-item--end">
                    <a class="footer__social-link" href="#">
                        <img src="assets/images/footer/instagram.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__c">
            <div class="footer__lt">
                <h2 class="explore__title">Explore</h2>
                <nav class="explore__nav">
                    <ul class="explore__nav-list">
                        <li class="explore__nav-item">
                            <a class="explore__nav-link" href="#">Home</a>
                        </li>
                        <li class="explore__nav-item">
                            <a class="explore__nav-link" href="#">About</a>
                        </li>
                        <li class="explore__nav-item">
                            <a class="explore__nav-link" href="#">Articles</a>
                        </li>
                        <li class="explore__nav-item">
                            <a class="explore__nav-link" href="#">Our Store</a>
                        </li>
                        <li class="explore__nav-item  explore__nav-item--end">
                            <a class="explore__nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__ro">
                <h2 class="utility__title">Utility Pages</h2>
                <nav class="utility__nav">
                    <ul class="utility__nav-list">
                        <li class="utility__nav-item">
                            <a class="utility__nav-link" href="#">Style Guide</a>
                        </li>
                        <li class="utility__nav-item">
                            <a class="utility__nav-link" href="#">404 Not Found</a>
                        </li>
                        <li class="utility__nav-item">
                            <a class="utility__nav-link" href="#">Password Protected</a>
                        </li>
                        <li class="utility__nav-item">
                            <a class="utility__nav-link" href="#">Licenses</a>
                        </li>
                        <li class="utility__nav-item">
                            <a class="utility__nav-link" href="#">Changelog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__rt">
            <h2 class="connection__title">Keep in Touch</h2>
            <div class="connection__inner">
                <div class="connection__texts">
                    <p class="connection__text  connection__text--ad2">Addres :</p>
                    <p class="connection__text  connection__text--mail2">Mail :</p>
                    <p class="connection__text">Phone :</p>
                </div>
                <div class="connection__links">
                    <a class="connection__link  connection__link--ad" href="#">24A Kingston St, Los Vegas NC 28202, USA.</a>
                    <a class="connection__link  connection__link--mail" href="#">support@pages.com</a>
                    <a class="connection__link" href="#">(+22) 123 - 4567 - 900</a>
                </div>
            </div>
        </div>
    </div>
    <p class="footer__author">© Drafted by <a href="#">VictorFlow</a> - Powered by <a href="#">Webflow</a></p>
</footer>
