<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <div class="header__logo">
                <img src="assets/images/vector.svg" alt="">
                <h1 class="header__title">Pages</h1>
            </div>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/facebook.svg" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/twitter.svg" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/linked.svg" alt="">
                    </a>
                </li>
            </ul>
        </div> <!-- ./header__left -->

        <div class="header__right">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#about">About</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Pages</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="basket">
                    <li class="basket__item">
                        <a class="basket__link" href="#">
                            <svg class="basket-icon" width="17" height="17" viewBox="0 0 17 17">
                                <path d="M2.60593 2H0V0H4.39407L4.84288 4H16V9.93845L3.76941 12.3694L2.60593 2ZM15.5 17C14.6716 17 14 16.3284 14 15.5C14 14.6716 14.6716 14 15.5 14C16.3284 14 17 14.6716 17 15.5C17 16.3284 16.3284 17 15.5 17ZM5.5 17C4.67157 17 4 16.3284 4 15.5C4 14.6716 4.67157 14 5.5 14C6.32843 14 7 14.6716 7 15.5C7 16.3284 6.32843 17 5.5 17Z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="order">
                    <li class="order__item">
                        <a class="order__link" href="#">Order Today</a>
                    </li>
                </ul>
            </nav>

            <button class="burger" type="button" id="navToggle">
                <span>Открыть навигацию</span>
            </button>
        </div> <!-- ./header__right -->
    </div> <!-- ./header__inner -->

    <nav class="nav-burger" id="navMobile">
        <ul class="nav-burger__list">
            <li class="nav-burger__item">
                <a class="nav-burger__link" href="#">Home</a>
            </li>
            <li class="nav-burger__item">
                <a class="nav-burger__link" href="#about">About</a>
            </li>
            <li class="nav-burger__item">
                <a class="nav-burger__link" href="#">Pages</a>
            </li>
            <li class="nav-burger__item">
                <a class="nav-burger__link" href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="basket  basket--burger">
            <li class="basket__item">
                <a class="basket__link" href="#">
                    <svg class="basket-icon" width="50" height="50" viewBox="0 0 17 17">
                        <path d="M2.60593 2H0V0H4.39407L4.84288 4H16V9.93845L3.76941 12.3694L2.60593 2ZM15.5 17C14.6716 17 14 16.3284 14 15.5C14 14.6716 14.6716 14 15.5 14C16.3284 14 17 14.6716 17 15.5C17 16.3284 16.3284 17 15.5 17ZM5.5 17C4.67157 17 4 16.3284 4 15.5C4 14.6716 4.67157 14 5.5 14C6.32843 14 7 14.6716 7 15.5C7 16.3284 6.32843 17 5.5 17Z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>
